<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="login__wrap" ion-fixed>
		<div class="login__logo-wrap">
			<img class="login__logo" src="assets/images/logo_grey.svg">
		</div>

		<div class="login__welcome-text">
			<p class="login__paragraph login__paragraph--primary">
				<strong>Hello</strong> and welcome to<br>the world of secure messaging!
			</p>
		</div>

		<div class="login__form">
			<p class="login__paragraph login__paragraph--primary">
				Create a new account or simply login...
			</p>
			<ion-item class="login__input-wrap">
				<ion-input class="login__input" type="text" placeholder="e.g. whispeerHQ" [disabled]="register" [(ngModel)]="username"></ion-input>
				<ion-label [hidden]="!register || usernameUsed" class="login__icon-label" fixed><ion-icon name="checkmark"></ion-icon></ion-label>
			</ion-item>
			<ion-item *ngIf="!register" class="login__input-wrap">
				<ion-input class="login__input" type="password" placeholder="e.g. l0ng!_p455w0rd" [(ngModel)]="password"></ion-input>
			</ion-item>
			<ion-item *ngIf="register" class="login__input-wrap">
				<ion-input class="login__input" type="password" placeholder="please repeat your password" [(ngModel)]="passwordRepeat"></ion-input>
			</ion-item>
			<p class="login__paragraph login__paragraph--detail">
				By signing up, you agree to our <strong>Terms of Service</strong> and our very strict <strong>Privacy Policy</strong>
			</p>
			<div text-center padding>
				<div class="fab--hexagon">
					<button ion-button icon-only color="light" class="fab--hexagon__button" (click)="nextStep()">
						<ion-icon name="arrow-forward"></ion-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>