<ion-content padding>
	<div class="login__wrap" ion-fixed>
		<div class="login__logo-wrap">
			<img class="login__logo" src="assets/images/logo_grey.svg">
		</div>

		<div class="login__welcome-text">
			<p class="login__paragraph login__paragraph--primary">
				<strong>Hello</strong> and welcome to<br>the world of secure messaging!
			</p>
		</div>

		<div class="login__form">
			<p class="login__paragraph login__paragraph--primary">
				{{ getMessage() }}
			</p>
			<ion-item class="clean-input-wrap login__input-wrap">
				<ion-input id="mail" class="login__input" type="text" placeholder="e.g. whispeerHQ" [disabled]="register" [(ngModel)]="login.identifier" (ngModelChange)="checkUserNameExistance()"></ion-input>
				<ion-label [hidden]="!register || usernameUsed" class="login__icon-label" fixed><ion-icon name="checkmark"></ion-icon></ion-label>
			</ion-item>
			<ion-item *ngIf="!register" class="clean-input-wrap login__input-wrap">
				<ion-input id="password" class="login__input" type="password" placeholder="enter a password" [(ngModel)]="login.password"></ion-input>
			</ion-item>
			<ion-item *ngIf="register" class="clean-input-wrap login__input-wrap">
				<ion-input class="login__input" type="password" placeholder="please repeat your password" [(ngModel)]="passwordRepeat"></ion-input>
			</ion-item>
			<p class="login__paragraph login__paragraph--detail">
				By signing up, you agree to our <strong>Terms of Service</strong> and our very strict <strong>Privacy Policy</strong>
			</p>
			<div text-center padding>
				<div class="hexagon">
					<button ion-button icon-only color="light" class="hexagon__button" (click)="loginOrRegister()">
						<ion-icon name="arrow-forward"></ion-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
