<div class="login__scroll">
	<div class="login__wrap">
		<div class="login__logo-wrap">
			<img class="login__logo" src="assets/images/logo_grey.svg" *ngIf="!business">
			<img class="login__logo" src="assets/images/logo_white.svg" *ngIf="business">
		</div>

		<div class="login__welcome-text">
			<p [innerHTML]="'login.header' | translate"></p>
		</div>

		<form (ngSubmit)="loginOrRegister()">
			<div class="login__form">

				<div class="login__paragraph login__paragraph--primary">
					<p [innerHTML]="getMessage()">{{ getMessage() }}</p>
				</div>

				<ion-item class="clean-input-wrap login__input-wrap">
					<ion-input id="mail"
						class="login__input"
						type="text"
						[placeholder]="'login.identifierPlaceholder' | translate"
						name="identifier"
						[disabled]="register"
						[(ngModel)]="login.identifier"
						(ngModelChange)="checkUserNameExistance()" >
					</ion-input>
				</ion-item>

				<ion-item *ngIf="showPasswordFeld()"
					class="clean-input-wrap login__input-wrap">
					<ion-input id="password"
						class="login__input"
						type="password"
						[placeholder]="'login.passwordPlaceholder' | translate"
						name="password"
						[(ngModel)]="login.password" >
					</ion-input>
				</ion-item>

				<ion-item *ngIf="showPasswordConfirmationField()"
					class="clean-input-wrap login__input-wrap">
					<ion-input id="password2"
						class="login__input"
						type="password"
						[placeholder]="'login.password2Placeholder' | translate"
						name="password2"
						[(ngModel)]="passwordRepeat">
					</ion-input>
				</ion-item>

				<p class="login__paragraph login__paragraph--detail" [innerHTML]="'login.tos' | translate"></p>
				<div text-center padding>
					<div class="hexagon-wrap">
						<hexagon class="hexagon hexagon--green"></hexagon>
						<button [color]="'ios'" ion-button icon-only color="light" class="hexagon__button" type="submit" clear>
							<ion-icon name="arrow-forward"></ion-icon>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
