[submodule "src/assets/helper"]
	path = src/lib/helper
	url = https://github.com/whispeer/whispeerHelper.git
[submodule "src/assets/validation"]
	path = src/lib/validation
	url = https://github.com/whispeer/whispeerValidations.git
[submodule "platforms/android"]
	path = platforms/android
	url = git@github.com:whispeer/messenger-android.git
[submodule "platforms/ios"]
	path = platforms/ios
	url = git@github.com:whispeer/messenger-ios.git
