page-contacts {
	ion-list {
		border-bottom: .55px solid #e5e5e5;
	}
}

.friends__divider {
	margin-top: -1px;
}

.friends__request {
	background-color: map-get($colors, highlight);
	color: map-get($colors, dark);

	ion-note {
		display: flex;
		align-content: center;
		justify-content: center;
		color: map-get($colors, grey);

		ion-icon {
			margin-top: 2px;
		}
	}
}
