<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>{{ 'contacts.title' | translate }}</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar animated [(ngModel)]="searchTerm" (ngModelChange)="executeSearch()" (keypress)="handleSearchKey($event)" [placeholder]="'contacts.search' | translate" [showCancelButton]="true" [cancelButtonText]="'general.cancel' | translate"></ion-searchbar>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-spinner *ngIf="contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<button *ngIf="requests.length > 0" ion-button full icon-right class="contactRequests" (click)="goToRequests()">
		<div class="badgeContainer">
			<span class="hexBadge">{{requests.length}}</span>
		</div>
		{{requestsLabel}}
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
	<ion-list [approxItemHeight]="'50px'" [virtualScroll]="getUsers()" [headerFn]="contactDividers" class="friends__list">
		<ion-item-divider *virtualHeader="let header" class="friends__divider">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)="goToUser(contact.id)" detail-push>
			<ion-avatar class="hexagon--border"
					[ngClass]="{'hexagon__image--active': contact.online}" item-left>
				<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
			</ion-avatar>
			<h2>
				<strong *ngIf="contact.names.firstname">
					{{contact.names.firstname}}
				</strong>
				<span *ngIf="contact.names.firstname && contact.names.lastname">
					{{contact.names.lastname}}
				</span>
				<strong
					*ngIf="!contact.names.firstname && contact.names.lastname">
					{{contact.names.lastname}}
				</strong>
				<strong
					*ngIf="!contact.names.firstname && !contact.names.lastname">
					{{contact.name}}
				</strong>
			</h2>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading && !contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<div class="space-for-fab">
		<p class="text-grey not-found-footer" padding>
			If you cannot find who you are looking for, try searching for their username.
		</p>
	</div>
	<main-menu [icon]="'close'" (invoke)="close()"></main-menu>
</ion-content>
