<!--
  Generated template for the Friends page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>Contacts</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<ion-spinner *ngIf="friendsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-list no-lines no-margin *ngIf="requests.length > 0">
		<ion-item class="friends__request" padding (click)="goToRequests()">
			<ion-badge item-left>{{requests.length}}</ion-badge>
			<h2>New contact requests</h2>
			<ion-note item-right><span>Details&nbsp;</span><ion-icon name="arrow-forward"></ion-icon></ion-note>
		</ion-item>
	</ion-list>
	<ion-list [virtualScroll]="friends" [headerFn]="friendDividers" class="friends__list">
		<ion-item-divider *virtualHeader="let header" class="friends__divider">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let friend" (click)="goToUser(friend.id)">
			<!--
				Please restructure this if you have a better idea how to
				mark the name that was used when sorting
			-->
			<h2>
				<strong *ngIf="friend.names.firstname">
					{{friend.names.firstname}}
				</strong>
				<span *ngIf="friend.names.firstname && friend.names.lastname">
					{{friend.names.lastname}}
				</span>
				<strong
					*ngIf="!friend.names.firstname && friend.names.lastname">
					{{friend.names.lastname}}
				</strong>
				<strong
					*ngIf="!friend.names.firstname && !friend.names.lastname">
					{{friend.name}}
				</strong>
			</h2>
		</ion-item>
	</ion-list>
</ion-content>
