<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>{{ 'contacts.title' | translate }}</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar animated [(ngModel)]="searchTerm" (ngModelChange)="executeSearch()" (keypress)="handleSearchKey($event)" [placeholder]="'contacts.search' | translate" [showCancelButton]="true" [cancelButtonText]="'general.cancel' | translate"></ion-searchbar>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-spinner *ngIf="contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<button *ngIf="requests.length > 0" ion-button full icon-right class="contactRequests" (click)="goToRequests()">
		<div class="badgeContainer">
			<span class="hexBadge">{{requests.length}}</span>
		</div>
		{{requestsLabel}}
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
	<ion-toolbar padding color="light" *ngIf="business && !contactsLoading && !searchTerm">
		<ion-segment [(ngModel)]="view" color="grey">
			<ion-segment-button value="contacts">
				{{ 'contacts.contacts' | translate }}
			</ion-segment-button>
			<ion-segment-button value="company">
				{{ 'contacts.company' | translate }}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
	<ion-list [approxItemHeight]="'52px'" [virtualScroll]="getContacts()" [headerFn]="contactDividers" class="friends__list">
		<ion-item-divider *virtualHeader="let header; let i = index;" class="friends__divider" [ngClass]="{'friends__divider--first': i === 0}">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)="goToUser(contact.id)" [ngClass]="{'user__blocked': contact.user.isBlocked()}" detail-push>
			<ion-avatar class="hexagon--border"
					[ngClass]="{'hexagon__image--active': contact.online}" item-left>
				<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
			</ion-avatar>
			<h2>
				<username [user]="contact"></username>
			</h2>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading && !contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<div class="space-for-fab">
		<p class="text-grey not-found-footer" padding>
			<span *ngIf="searchTerm.length > 0">
				{{ 'contacts.searchResultExplain' | translate }}
			</span>
		</p>
	</div>
	<navigator [icon]="'close'" (invoke)="close()" ion-fixed></navigator>
</ion-content>
