page-profile {

}

.item-block {
	border-top: none !important;
}

.item-block:first-child:not(:last-child),
.item-block:last-child:not(:first-child) {
	border: none !important;
}

.profile__info {
	color: map-get($colors, dark) !important;
}

.profile__avatar-row {
	display: flex;
}

.profile__request-hex {
	margin: auto;
	//height: 64px !important;
	flex-grow: 0;
	flex-shrink: 0;
}

.profile__request-button {

}

#request__decline {
	background-color: map-get($colors, highlight);
}

#request__decline__button {
	background-color: map-get($colors, highlight);
	color: map-get($colors, grey);
}

#request__accept__button {
	color: map-get($colors, light);
}

.profile__image {
	margin: auto;
}

.profile__info-list {
	margin-top: 3em;
}

.profile__qr {
	display: block;
	text-align: center;
}

.fingerprint {
	background: map-get($colors, light_grey);
	margin: 16px 0;
	font-size: 12px !important;
	.fingerprint-label {
		text-align: center;
		color: map-get($colors, primary);
	}
	.fingerprint-value {
		color: map-get($colors, dark);
		.fingerprint-part {
			display: inline;
			&::after { content: '‒'; }
			&:nth-of-type(2n+2)::after { content: '‒\A'; }
			&:last-of-type::after { content: ''; }
		}
	}
}
