<ion-header>

	<ion-navbar [color]="'primary'">
		<ion-title>{{getTitle()}}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content class="has-main-menu">
	<ion-toolbar *ngIf="isOwn" padding color="light">
		<ion-segment [(ngModel)]="view" color="grey">
			<ion-segment-button value="profile">
				{{ 'profile.profileSegment' | translate }}
			</ion-segment-button>
			<ion-segment-button value="qr">
				{{ 'profile.qrSegment' | translate }}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
	<ion-spinner *ngIf="profileLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<div [ngSwitch]="view">

		<div *ngSwitchCase="'profile'">
			<div *ngIf="!isOwn" class="profile__avatar-row">
				<div class="profile__request-hex">
					<load *ngIf="isRequest || isRequestable" [name]="'add'" class="profile__request-button" id="request__accept__button" (click)="acceptRequest()"></load>
					<load *ngIf="!(isRequest || isRequestable)" [name]="'added'" class="profile__request-button" id="request__accept__button" (click)="contactOptions()"></load>
				</div>
				<ion-avatar class="hexagon__image hexagon__image--active hexagon__image--large profile__image">
					<user-image [id]="user.id" [image]="user.basic.image"></user-image>
				</ion-avatar>
				<div class="profile__request-hex" id="request__decline">
					<load [name]="'write'" class="profile__request-button" id="request__accept__button" (click)="writeMessage()"></load>
				</div>
			</div>
			<div *ngIf="isOwn" class="profile__avatar-row">
				<ion-avatar class="hexagon__image hexagon__image--active hexagon__image--large profile__image" (click)="avatarClicked()">
					<user-image [id]="user.id" [image]="user.basic.image"></user-image>
				</ion-avatar>
			</div>
			<div class="profile__names">
				<h1 color="dark" text-center class="profile__big-name">{{user.name}}</h1>
				<h3 color="grey" text-center class="profile__small-name" *ngIf="user.names.firstname || user.names.lastname"><small>{{user.names.nickname}}</small></h3>
			</div>
			<ion-list class="profile__info-list space-for-fab" inset *ngIf="!isBlocked()">
				<ion-item *ngIf="attributeSet(user.advanced.birthday)">
					<ion-label fixed color="primaryDarker" text-right>{{ 'profile.birthday' | translate }}</ion-label>
					<p item-content class="profile__info">{{user.advanced.birthday.day}}.<span *ngIf="user.advanced.birthday.month && user.advanced.birthday.month.length === 1">0</span>{{user.advanced.birthday.month}}.{{user.advanced.birthday.year}}</p>
				</ion-item>
				<ion-item *ngIf="attributeSet(user.advanced.location)">
					<ion-label fixed color="primaryDarker" text-right>{{ 'profile.location' | translate }}</ion-label>
					<p item-content class="profile__info">{{user.advanced.location.town}} {{user.advanced.location.country}}</p>
				</ion-item>
				<!-- <ion-item *ngIf="user.advanced.relationship">
					<ion-label fixed color="primaryDarker" text-right>Relationship</ion-label>
					<p item-content class="profile__info">{{user.advanced.location.town}} {{user.advanced.location.country}}</p>
				</ion-item>
				<ion-item *ngIf="user.advanced.education">
					<ion-label fixed color="primaryDarker" text-right>Education</ion-label>
					<p item-content class="profile__info">
						<span *ngFor="let school of user.advanced.education; let last = last">{{school.name}}{{last ? '' : ', '}}<br></span>
					</p>
				</ion-item>
				<ion-item *ngIf="user.advanced.work">
					<ion-label fixed color="primaryDarker" text-right>Work</ion-label>
					<p item-content class="profile__info">{{user.advanced.work.what}} at {{user.advanced.work.where}}</p>
				</ion-item>
				<ion-item *ngIf="user.advanced.gender">
					<ion-label fixed color="primaryDarker" text-right>Gender</ion-label>
					<p item-content class="profile__info">{{user.advanced.work.what}} at {{user.advanced.work.where}}</p>
				</ion-item> -->
				<ion-item *ngIf="attributeSet(user.advanced.languages)">
					<ion-label fixed color="primaryDarker" text-right>{{ 'profile.languages' | translate }}</ion-label>
					<p item-content class="profile__info">
						<span *ngFor="let language of user.advanced.languages; let last = last">{{language.name}}{{last ? '' : ', '}}</span>
					</p>
				</ion-item>
			</ion-list>

			<div *ngIf="!isOwn">
				<ion-list showWhen="ios">
					<button ion-item (click)="verifyPerson()" *ngIf="user.trustLevel < 2">
						{{ 'profile.verify.action' | translate }}
					</button>
					<button *ngIf="isRequest" ion-item (click)="declineRequest()">
						<span ion-text color="danger">{{ 'profile.contacts.declineRequest' | translate }}</span>
					</button>
					<button ion-item (click)="report()">
						<span ion-text color="danger">{{ 'profile.contacts.reportContact' | translate }}</span>
					</button>
					<button ion-item (click)="block()" *ngIf="!isBlocked()">
						<span ion-text color="danger">{{ 'profile.contacts.blockContact' | translate }}</span>
					</button>
					<button ion-item (click)="unblock()" *ngIf="isBlocked()">
						<span ion-text color="danger">{{ 'profile.contacts.unblockContact' | translate }}</span>
					</button>
				</ion-list>
				<div padding-horizontal hideWhen="ios">
					<button ion-button block color="light" (click)="verifyPerson()" *ngIf="user.trustLevel < 2">
						{{ 'profile.verify.action' | translate }}
					</button>
					<button *ngIf="isRequest" ion-button block color="danger" (click)="declineRequest()">
						{{ 'profile.contacts.declineRequest' | translate }}
					</button>
					<button ion-button color="danger" [full]=true (click)="report()">{{ 'profile.contacts.reportContact' | translate }}</button>
					<button ion-button color="danger" [full]=true (click)="block()" *ngIf="!isBlocked()">{{ 'profile.contacts.blockContact' | translate }}</button>
					<button ion-button color="danger" [full]=true (click)="unblock()" *ngIf="isBlocked()">{{ 'profile.contacts.unblockContact' | translate }}</button>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'qr'">

			<qr-code [value]="user.fingerprint" [size]="400" class="profile__qr"></qr-code>

			<ion-grid class="fingerprint">
				<ion-row>
					<ion-col class="fingerprint-label" col-3 [innerHtml]="'profile.idTitle' | translate"></ion-col>
					<ion-col class="fingerprint-value" col-9>
						<pre *ngFor="let part of fingerprint" class="fingerprint-part">{{part}}</pre>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div class="space-for-fab" padding-horizontal>
				<p class="text-grey" padding-horizontal [innerHtml]="'profile.idExplanation' | translate"></p>
			</div>

		</div>
	</div>
	<navigator [icon]="'close'" (invoke)="close()" ion-fixed></navigator>
</ion-content>
