page-profile {
	.item-block:last-child {
		border-bottom: 1px solid $list-border-color !important;
	}
}

.item-block {
	border-top: none !important;
}

.profile__info {
	color: map-get($colors, dark) !important;

	padding: 11px 0;
}

.profile__avatar-row {
	display: flex;
	padding: 2em;
}

.profile__request-hex {
	display: inline-block;
	align-content: center;
	justify-content: center;

	margin: auto auto 0;

	width: 50px;
}

.profile__request-button {
	margin: auto auto 0;
}

.profile__image {
	margin: auto auto 0;
}

.profile__names {
	margin-bottom: 2rem;
}

.profile__big-name {
	margin-top: 0;
	margin-bottom: 0;

	font-weight: 400;
}

.profile__small-name {
	margin-top: 0;

	font-weight: 400;
}

.profile__info-list {
	margin-top: 1rem;
}

.profile__request-accept {
	.alert-button:first-child .button-inner {
		color: map-get($colors, danger);
	}
	.button-inner {
		color: map-get($colors, primary);
	}
}
.profile__send-confirm {
	.alert-button:first-child .button-inner {
		color: map-get($colors, grey);
	}
	.button-inner {
		color: map-get($colors, primary);
	}
}

.profile__qr {
	display: block;
	text-align: center;
	img {
		max-width: 400px;
		border: 0;
		width: 60vw;
		height: 60vw;
		margin: 5vw;
		max-height: 400px;
	}
}

.fingerprint {
	background: map-get($colors, light_grey);
	margin: 16px 0;
	font-size: 12px !important;
	.fingerprint-label {
		text-align: center;
		color: map-get($colors, primary);
	}
	.fingerprint-value {
		color: map-get($colors, dark);
		.fingerprint-part {
			display: inline;
			&::after { content: '‒'; }
			&:nth-of-type(2n+2)::after { content: '‒\A'; }
			&:last-of-type::after { content: ''; }
		}
	}
}
