<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title>{{ 'home.title' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="list-avatar-page" [ngClass]="{'home--empty': !topicsLoading && topics.length === 0}">
	<button *ngIf="requests.length > 0" ion-button full icon-right class="contactRequests" (click)="openContactRequests()">
		<div class="badgeContainer">
			<span class="hexBadge">{{requests.length}}</span>
		</div>
		{{requestsLabel}}
		<ion-icon name="arrow-forward"></ion-icon>
	</button>

	<ion-list class="space-for-fab">
		<ion-item *ngFor="let topic of topics; let i = index" class="topic" [ngClass]="{'topic--new': topic.unread}" (click)="openChat(topic.id)">
			<div class="user__image-wrap" item-left>
				<ion-avatar
					*ngFor="let partner of topic.partnersDisplay"
					class="hexagon__image"
					[ngClass]="{'hexagon__image--active': partner.online, 'hexagon__image--medium': topic.partnersDisplay.length > 1}"
				>
					<user-image [id]="partner.id" [image]="partner.basic.image"></user-image>
				</ion-avatar>
				<ion-avatar
					*ngIf="topic.partners.length > 3"
					class="hexagon__image hexagon__image--medium"
				>
					<hexagon></hexagon>
					<span class="hexagon__image__image topic__remainingUsers">+{{topic.partners.length - 2}}</span>
				</ion-avatar>
			</div>
			<div class="topic__header">
				<h2 class="user__name">
					<span *ngIf="!topic.title">
						<span *ngFor="let partner of topic.partners; let l = last">
							{{ partner.basic.shortname }}{{ l ? "":", " }}
						</span>
					</span>
					<span *ngIf="topic.title">{{topic.title}}</span>
					<div class="topic__badgeContainer" *ngIf="topic.unread">
						<span class="topic__hexBadge">
							<span class="topic__hexBadge__text">{{ topic.obj.getUnreadCount() | maxValue: 99 }}</span>
						</span>
					</div>
				</h2>
				<div>
					<ion-note item-right>{{topic.latestMessage.data.timestamp | responsiveDate}} <ion-icon ios="ios-arrow-forward-outline"></ion-icon></ion-note>
				</div>
			</div>
			<p>{{topic.latestMessage.data.text}}</p>
		</ion-item>
	</ion-list>

	<ion-spinner *ngIf="topicsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<ion-infinite-scroll [enabled]="moreTopicsAvailable" (ionInfinite)="loadMoreTopics($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div class="space-for-fab"></div>

	<main-menu (mainHandle)="newMessage()" ion-fixed></main-menu>
</ion-content>
