page-home {

}

.topic {
	.label p {
		// let's hope this works everywhere...
		display: -webkit-box;
		white-space: normal;
		text-overflow: ellipsis;

		min-height: 2.5em;

		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.note {
		align-self: flex-start;
		line-height: 1em;
		font-size: 0.9em;
		.icon {
			font-size: 1em;
			line-height: 1em;
		}
	}

	&.topic--new {
		.label p {
			min-height: 3.5em;
			-webkit-line-clamp: 3;
		}
	}

	&.topic--online {
		.user__image {
			background: map-get($colors, primary);
		}
	}
}

.topic--new--last {
	box-shadow:	0px 1px 1px #bbc0c2,
				0px 5px 5px rgba(#bbc0c2, 0.35),
				0 10px 0 10px #e4e4e4;
	margin-bottom: 20px;
	z-index: 1;
	.item-inner {
		border: none !important;
	}
}

.user__image {
	position: relative;

	width: 54px !important;
	height: 62px !important;

	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

	background: map-get($colors, grey);
}

.user__image__image {
	position: absolute;
	top: 2px; left: 2px;

	height: calc(100% - 4px) !important;
	width: calc(100% - 4px) !important;

	background-sizing: cover;
	background-position: center center;

	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	border-radius: 0 !important;
}