<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title>Messages</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
	<ion-spinner *ngIf="topicsLoading" text-center margin class="spinner--full"></ion-spinner>
	<ion-list class="space-for-fab">
		<ion-item *ngFor="let topic of topics; let i = index" class="topic" [ngClass]="{'topic--new': topic.topic, 'topic--new--last': topic.lastNew}" (click)="openChat(topic.id)">
			<div class="user__image-wrap" item-left>
				<ion-avatar class="hexagon__image" [ngClass]="{'hexagon__image--active': partner.online && pIndex < 2, 'hexagon__image--medium': topic.partners.length > 1}" *ngFor="let partner of topic.partners; let pIndex = index">
					<div *ngIf="pIndex < 2" class="hexagon__image__image" [style.background-image]="partner.basic.image | safeUrl"></div>
					<div *ngIf="pIndex === 2" class="hexagon__image__image topic__remainingUsers">
						+{{topic.partners.length - 2}}
					</div>
				</ion-avatar>
			</div>
			<h2 class="user__name">
				<span *ngFor="let partner of topic.partners; let l = last">
					{{ partner.basic.shortname }}{{ l ? "":", " }}
				</span>
			</h2>
			<p>{{topic.latestMessage.data.text}}</p>
			<ion-note item-right>{{topic.latestMessage.data.timestamp | date: "EEEE"}} <ion-icon ios="ios-arrow-forward-outline"></ion-icon></ion-note>
		</ion-item>
	</ion-list>

	<ion-fab center bottom #fab>
		<div class="hexagon hexagon--fab">
			<button (press)="handleClick($event, fab)" (tap)="handleClick($event, fab)" class="hexagon__button" ion-fab color="light"><ion-icon name="add"></ion-icon></button>
		</div>
		<ion-fab-list side="top">
			<button ion-fab color="dark" (click)="fabSideClick($event, fab, 'friends')"><ion-icon name="md-people"></ion-icon></button>
		</ion-fab-list>
		<ion-fab-list side="left">
			<button ion-fab color="dark" (click)="fabSideClick($event, fab, 'profile')"><ion-icon name="md-person"></ion-icon></button>
		</ion-fab-list>
		<ion-fab-list side="right">
			<button ion-fab color="dark" (click)="fabSideClick($event, fab, 'settings')"><ion-icon name="ios-settings"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
</ion-content>
