<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title>{{ 'home.title' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
	<button *ngIf="requests.length > 0" ion-button full icon-right class="contactRequests" (click)="openContactRequests()">
		<div class="badgeContainer">
			<span class="hexBadge">{{requests.length}}</span>
		</div>
		{{requestsLabel}}
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
	<div ion-fixed class="home__no-content-container" *ngIf="showNoConversationsPlaceholder()">
		<img class="home__no-content-image" src="assets/images/no_conversations_{{lang}}.png">
	</div>
	<ion-list class="space-for-fab">
		<ion-item *ngFor="let chat of getLoadedChats(); let i = index" class="topic" [ngClass]="{'topic--new': chat.unread}" tappable (click)="openChat(chat.id)">
			<div class="user__image-wrap" item-left>
				<ion-avatar
					*ngFor="let partner of chat.partnersDisplay"
					class="hexagon__image hexagon__image--active"
					[ngClass]="{'hexagon__image--medium': chat.partnersDisplay.length > 1}"
				>
					<user-image [id]="partner.id" [image]="partner.basic.image"></user-image>
				</ion-avatar>
				<ion-avatar
					*ngIf="chat.partners.length > 3"
					class="hexagon__image hexagon__image--medium"
				>
					<hexagon></hexagon>
					<span class="hexagon__image__image topic__remainingUsers">+{{chat.partners.length - 2}}</span>
				</ion-avatar>
			</div>
			<div class="topic__header">
				<h2 class="user__name">
					<span *ngIf="!chat.title">
						<span *ngFor="let partner of chat.partners; let l = last">
							{{ partner.basic.shortname }}{{ l ? "":", " }}
						</span>
					</span>
					<span *ngIf="chat.title">{{chat.title}}</span>
					<div class="topic__badgeContainer" *ngIf="chat.unread">
						<span class="topic__hexBadge">
							<span class="topic__hexBadge__text">{{ chat.unreadCount | maxValue: 99 }}</span>
						</span>
					</div>
				</h2>
				<div>
					<ion-note item-right>{{chat.time | responsiveDate}} <ion-icon ios="ios-arrow-forward-outline"></ion-icon></ion-note>
				</div>
			</div>
			<p>{{chat.latestMessageText}}</p>
		</ion-item>
	</ion-list>

	<ion-spinner *ngIf="chatsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<ion-infinite-scroll [enabled]="moreTopicsAvailable" (ionInfinite)="loadMoreTopics($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<div class="space-for-fab"></div>

	<main-menu (mainHandle)="newMessage()" ion-fixed></main-menu>
</ion-content>
