page-home {

}

.topic {
	.label p {
		// let's hope this works everywhere...
		display: -webkit-box;
		white-space: normal;
		text-overflow: ellipsis;

		min-height: 2.5em;

		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.note {
		align-self: flex-start;
		line-height: 1em;
		font-size: 0.9em;
		.icon {
			font-size: 1em;
			line-height: 1em;
		}
	}

	&.topic--new {
		.label p {
			min-height: 3.5em;
			-webkit-line-clamp: 3;
		}
	}
}

.topic--new--last {
	box-shadow:	0px 1px 1px #bbc0c2,
				0px 5px 5px rgba(#bbc0c2, 0.35),
				0 10px 0 10px #e4e4e4;
	margin-bottom: 20px;
	z-index: 1;
	.item-inner {
		border: none !important;
	}
}

.user-name--online {
	color: map-get($colors, primary);
}

.user__image-wrap {
	position: relative;

	width: 54px !important;
    height: 62px !important;
}

.hexagon__image--medium:nth-child(1) {
	position: absolute;
	margin-top: 15px;
	z-index: 1;
}
.hexagon__image--medium:nth-child(2) {
	position: absolute;
	top: -7px;
	left: 12px;
	z-index: 2;
}
.hexagon__image--medium:nth-child(3) {
	position: absolute;
	margin-top: 15px;
	margin-left: 25px;
	z-index: 1;
}