page-settings {
	ion-content {
		background-color: map-get($colors, light_grey) !important;
	}
}

.backup-save {
	.button-inner {
		color: map-get($colors, grey);
	}
	.alert-button:last-child .button-inner {
		color: map-get($colors, primary);
	}
}

.logout-confirm {
	.button-inner {
		color: map-get($colors, grey);
	}
	.alert-button:last-child .button-inner {
		color: map-get($colors, danger);
	}
}

ion-avatar[item-start].inline-avatar {
	margin-top: 0;
	margin-bottom: 0;
}
