page-settings {
	ion-content {
		background-color: map-get($colors, light_grey) !important;
	}
}

.logout-confirm {
	.button-inner {
		color: map-get($colors, grey);
	}
	.alert-button:last-child .button-inner {
		color: map-get($colors, danger);
	}
}
