<div attr.data-messageid="{{message.data.id}}" class="messages__wrap" *ngIf="message.data.text.length > 0 || message.data.images.length > 0">
	<div class="messages__message" [ngClass]="{'messages__message--emoji-only': message.data.emojiOnly}">
		<span whispeerSyntaxify content="{{message.data.text}}"></span>
		<gallery *ngIf="message.data.images && message.data.images.length > 0" [images]="message.data.images"></gallery>
	</div>
	<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
</div>
<div *ngFor="let file of message.data.files" class="messages__wrap messages__wrap--file">
	<div class="messages__message message__file">
		<div class="message__file__hexagon-wrap">
			<hexagon class="message__file__hexagon"></hexagon>
			<!-- TODO: icon states.
				maybe we should use different svgs with
				icons built in them... -->
			<ion-icon name="md-download" class="message__file__hexagon-icon"></ion-icon>
		</div>
		<span class="message__file__info">
			<span class="message__file__name">{{file.name}}</span>
			<span class="message__file__size">[{{formatSize(file.size)}}]</span>
		</span>
	</div>
	<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
</div>
<div *ngIf="message.data.voicemails && message.data.voicemails.length > 0" class="messages__wrap messages__wrap--file">
	<div class="messages__message message__file" [ngClass]="{'message__file--sending': voicemailSending()}">
		<div class="message__file__hexagon-wrap">
			<hexagon class="message__file__hexagon"></hexagon>
			<ion-icon name="md-download" class="message__file__hexagon-icon" *ngIf="!voicemailLoaded() && !voicemailDownloadProgress && !voicemailSending()" (click)="downloadVoicemail()"></ion-icon>
			<ion-icon name="md-play" class="message__file__hexagon-icon" *ngIf="voicemailLoaded() && voicemailPaused() && !voicemailSending()" (click)="playVoicemail()"></ion-icon>
			<ion-spinner *ngIf="(!voicemailLoaded() && voicemailDownloadProgress !== undefined) || voicemailSending()" class="message__file__hexagon-spinner"></ion-spinner>
			<ion-icon name="md-pause" class="message__file__hexagon-icon" *ngIf="voicemailLoaded() && voicemailPlaying()" (click)="pauseVoicemail()"></ion-icon>
		</div>
		<span class="message__file__info">
			<ion-icon icon name="ios-barcode-outline" class="message__file__memo-play-icon" [ngClass]="{'message__file__memo-play-icon--active': voicemailPlaying()}"></ion-icon>&nbsp;
			<span><span *ngIf="voicemailLoaded()">{{ voicemailPosition() * 1000 | date: 'mm:ss' }} /&nbsp;</span>{{ voicemailDuration() * 1000 | date: 'mm:ss' }}</span>
			<span *ngIf="!voicemailLoaded()" class="message__file__info__size">&nbsp;[{{formatSize(voicemailSize())}}]</span>
		</span>
		<div class="message__file__progress" *ngIf="voicemailLoaded() && voicemailPosition() > 0">
			<div class="message__file__progress__bar" [ngStyle]="{'width.%': voicemailPosition() * 100 / voicemailDuration()}"></div>
			<div class="message__file__progress__icon" [ngStyle]="{'margin-left.%': voicemailPosition() * 100 / voicemailDuration()}">
				<hexagon class="message__file__progress__icon__hex"></hexagon>
			</div>
		</div>
	</div>
	<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
</div>
