<div *ngIf="message.isBlockedSince()" attr.data-messageid="{{message.data.id}}" class="messages__wrap">
	<div class="messages__message messages__message-blocked">
		<span>{{ 'blocked.messageReplacement' | translate }}</span>
	</div>
	<span class="messages__time"></span>
</div>

<div *ngIf="!message.isBlockedSince()">

	<div *ngIf="message.data.text.length > 0 || message.data.images.length > 0" attr.data-messageid="{{message.data.id}}" class="messages__wrap">
		<div class="messages__message" [ngClass]="{'messages__message--emoji-only': message.data.emojiOnly, 'sending': !message.hasBeenSent()}">
			<span whispeerSyntaxify content="{{message.data.text}}"></span>
			<gallery *ngIf="message.data.images && message.data.images.length > 0" [images]="message.data.images"></gallery>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>

	<div *ngFor="let file of message.data.files" class="messages__wrap">
		<div class="messages__message message__file" [ngClass]="{'sending': !message.hasBeenSent()}">
			<div class="message__voicemail__actions">
				<ion-icon *ngIf="!file.loaded && !file.getProgress" (click)="downloadFile(file)" class="message__voicemail__action" name="md-download"></ion-icon>
				<ion-icon *ngIf="file.loaded && !file.sending" (click)="downloadFile(file)" class="message__voicemail__action" name="md-document"></ion-icon>
				<loading-progress
					*ngIf="(!file.loaded && file.getProgress) || file.sending"
					parentBackgroundClass="messages__message"
					[progress]="file.getProgress"
					[inverse]="!message.hasBeenSent()">
				</loading-progress>
			</div>
			<span class="message__file__info">
				<span class="message__file__name">{{ file.name | filenameLimit: 25 }}</span>
				<span class="message__file__size" *ngIf="!file.loaded">[{{ formatSize(file.size) }}]</span>
			</span>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>

	<div *ngIf="message.data.voicemails && message.data.voicemails.length > 0" class="messages__wrap messages__wrap--file">
		<div class="messages__message message__voicemail" [ngClass]="{'sending': !message.hasBeenSent()}">
			<div class="message__file__info message__voicemail__info">
				<div class="message__voicemail__actions">
					<ion-icon name="md-download" class="message__voicemail__action" *ngIf="!voicemailLoaded() && !voicemailDownloadProgress && message.hasBeenSent()" (click)="downloadVoicemail()"></ion-icon>
					<ion-icon name="md-play" class="message__voicemail__action" *ngIf="voicemailLoaded() && voicemailPaused() && message.hasBeenSent()" (click)="playVoicemail()"></ion-icon>
					<loading-progress
						parentBackgroundClass="messages__message"
						class="message__voicemail__action"
						*ngIf="!voicemailLoaded() && voicemailDownloadProgress"
						[progress]="voicemailProgress"
						[inverse]="!message.hasBeenSent()"
						[color]="(message.isOwn() ? 'primary' : 'isabelline')"
					>
					</loading-progress>
					<ion-spinner *ngIf="!message.hasBeenSent()" class="message__voicemail__uploadSpinner"></ion-spinner>
					<ion-icon name="md-pause" class="message__voicemail__action" *ngIf="voicemailLoaded() && voicemailPlaying()" (click)="pauseVoicemail()"></ion-icon>
				</div>
				<div class="message__voicemail__player">
					<ion-icon icon name="stats" class="message__file__memo-play-icon" [ngClass]="{'message__file__memo-play-icon--active': voicemailPlaying()}"></ion-icon>&nbsp;
					<span><span *ngIf="voicemailLoaded()">{{ voicemailPosition() * 1000 | date: 'mm:ss' }} /&nbsp;</span>{{ voicemailDuration() * 1000 | date: 'mm:ss' }}&nbsp;</span>
					<span *ngIf="!voicemailLoaded()" class="message__file__info__size">[{{formatSize(voicemailSize())}}]</span>
					<div class="message__file__progress" *ngIf="voicemailLoaded() && voicemailPosition() > 0">
						<div class="message__file__progress__bar" [ngStyle]="{'width.%': voicemailPosition() * 100 / voicemailDuration()}"></div>
						<div class="message__file__progress__icon" [ngStyle]="{'margin-left.%': voicemailPosition() * 100 / voicemailDuration()}">
							<hexagon class="message__file__progress__icon__hex"></hexagon>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>
</div>

<ng-template #message_time>
		<span *ngIf="message.hasBeenSent()" class="messages__time">
			{{ message.sendTime | date: "shortTime" }}
		</span>
		<span *ngIf="!message.hasBeenSent()" class="messages__time messageSpinner">
			<ion-spinner text-center name="ios-small"></ion-spinner>
		</span>
</ng-template>
