<div *ngIf="message.isBlockedSince()" attr.data-messageid="{{message.data.id}}" class="messages__wrap">
	<div class="messages__message messages__message-blocked">
		<span>{{ 'blocked.messageReplacement' | translate }}</span>
	</div>
	<span class="messages__time"></span>
</div>

<ng-container *ngIf="!message.isBlockedSince()">

	<div *ngIf="message.data.text.length > 0 || message.data.images.length > 0" attr.data-messageid="{{message.data.id}}" class="messages__wrap">
		<div class="messages__message" [ngClass]="{'messages__message--emoji-only': message.data.emojiOnly, 'sending': !message.hasBeenSent()}">
			<span whispeerSyntaxify content="{{message.data.text}}" *ngIf="message.data.text"></span>
			<gallery *ngIf="message.data.images && message.data.images.length > 0" [images]="message.data.images"></gallery>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>

	<div *ngFor="let file of message.data.files" class="messages__wrap">
		<div class="messages__message message__file" [ngClass]="{'sending': !message.hasBeenSent()}">
			<div class="message__voicemail__actions">
				<ion-icon *ngIf="!file.loaded && !file.getProgress" (click)="downloadFile(file)" class="message__voicemail__action" name="md-download"></ion-icon>
				<ion-icon *ngIf="file.loaded && !file.sending" (click)="downloadFile(file)" class="message__voicemail__action" name="md-document"></ion-icon>
				<loading-progress
					*ngIf="(!file.loaded && file.getProgress) || file.sending"
					backgroundClass="messages__message"
					foregroundClass="progressIndicator"
					[progress]="file.getProgress">
				</loading-progress>
			</div>
			<span class="message__file__info">
				<span class="message__file__name">{{ file.name | filenameLimit: 25 }}</span>
				<span class="message__file__size" *ngIf="!file.loaded">[{{ formatSize(file.size) }}]</span>
			</span>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>

	<div *ngIf="message.data.voicemails && message.data.voicemails.length > 0" class="messages__wrap messages__wrap--file">
		<div class="messages__message message__voicemail" [ngClass]="{'sending': !message.hasBeenSent()}">
			<voicemailplayer [voicemails]="message.data.voicemails" [hasBeenSent]="message.hasBeenSent()"></voicemailplayer>
		</div>
		<ng-container *ngTemplateOutlet="message_time"></ng-container>
	</div>
</ng-container>

<ng-template #message_time>
		<span *ngIf="message.hasBeenSent()" class="messages__time">
			{{ message.sendTime | date: "shortTime" }}
		</span>
		<span *ngIf="!message.hasBeenSent()" class="messages__time messageSpinner">
			<ion-spinner text-center name="ios-small"></ion-spinner>
		</span>
</ng-template>
