<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title [ngClass]="{'title--force-back': forceBackButton}" (click)="goToDetails()">

			<!-- Back button -->
			<div class="messages__header__fake-back">
				<button *ngIf="forceBackButton" (click)="navCtrl.pop()" class="bar-button bar-button-ios" color="light" ion-button icon-only clear>
					<ion-icon name="arrow-back"></ion-icon>
				</button>
			</div>

			<!-- Actual navbar title -->
			<span class="messages__header__username" [ngClass]="{'messages__header__username--no-image': partners.length > 1}">
				<span *ngIf="!chat || !chat.getTitle()">
					<span *ngIf="partners.length == 1" (click)="goToProfile(partners[0].id)">
						{{ partners[0].name }}
					</span>
					<span *ngIf="partners.length != 1">
						<span *ngFor="let partner of partners; let l = last" (click)="goToProfile(partner.id)">
							{{ partner.basic.shortname }}{{ l ? "":", " }}
						</span>
					</span>
				</span>
				<span *ngIf="chat && chat.getTitle()">
					{{chat.getTitle()}}
				</span>
			</span>

			<!-- Avatar for one user -->
			<ion-avatar item-left class="messages__header-image hexagon__image hexagon__image--small" *ngIf="partners.length == 1" (click)="goToProfile(partners[0].id)">
				<user-image [id]="partners[0].id" [image]="partners[0].basic.image"></user-image>
			</ion-avatar>

		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="messages__list" #content>
		<ion-spinner *ngIf="messagesLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
		<div class="messages_filler"></div>
		<ion-list no-lines>
			<ion-item class="messages__burst" *ngIf="messageBursts() && bursts.length === 0">
				<BurstDifference [chat]="chat" [burst]="bursts[0]"></BurstDifference>
			</ion-item>
			<ion-item class="messages__burst" *ngFor="let burst of bursts; let $index=index; let $last=last" [ngClass]="{'burst--me': burst.isMe(), 'burst--other': burst.isOther()}">
				<BurstDifference [chat]="chat" [burst]="burst" [previousBurst]="bursts[$index - 1]"></BurstDifference>

				<div *ngIf="isPreviousMissing(burst)" style="
					display: flex;
					justify-content: center;
					align-items: center;
				">
					<ion-spinner text-center name="dots" duration="1500"></ion-spinner>
				</div>

				<span>
					<div *ngIf="burst.isOther() && partners.length > 1">{{burst.firstItem().data.sender.name}}</div>
					<Message [message]="message" *ngFor="let message of burst.items"></Message>
				</span>

				<BurstDifference [chat]="chat" [previousBurst]="burst" [noDates]="true" *ngIf="$last"></BurstDifference>
			</ion-item>
		</ion-list>
	</div>

	<div class="messages__form" *ngIf="platform.is('ios')" #footer>
		<div
			class="messages__form__button-wrap"
			*ngIf="isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="discardRecording()">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button ion-button icon-only clear color="danger" class="ios__messages__add-assets" (click)="toggleRecording()">
				<ion-icon name="mic" *ngIf="isPaused()"></ion-icon>
				<ion-icon name="pause" *ngIf="!isPaused()"></ion-icon>
			</button>
			<button *ngIf="isPaused()" ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="togglePlayback()">
				<ion-icon name="{{(isPlayback() ? 'pause' : 'play')}}"></ion-icon>
			</button>
		</div>
		<div
			class="messages__form__button-wrap"
			*ngIf="!isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="takeImage()" *ngIf="showCameraShortcut()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="clean-input-wrap ios__messages__input-wrap">
			<ion-textarea rows="1" type="text" class="ios__messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText" [disabled]="isRecordingUIVisible()" (blur)="toggleInputFocus()" (focus)="toggleInputFocus()"></ion-textarea>
		</ion-item>
		<div class="ios__messages__recording-overlay" [ngClass]="{'ios__messages__recording-overlay--distance': isPaused()}">
			<span *ngIf="isRecording()">
				<ion-icon name="mic" color="danger"></ion-icon>
				<span>&nbsp;Recording - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
			<span *ngIf="isPaused()">
				<span *ngIf="isPlayback()">
					<ion-icon icon name="ios-barcode-outline" color="primary"></ion-icon>
					<span>&nbsp;{{ formatTime(getPosition()) }} / {{ formatTime(getDuration()) }}</span>
				</span>
				<span *ngIf="!isPlayback()">Paused - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
		</div>
		<button ion-button icon-only class="ios__messages__send-message" (click)="sendMessageToChat()"
		*ngIf="!showRecordIcon() || isRecordingUIVisible()">
			<ion-icon name="md-arrow-round-up"></ion-icon>
		</button>
		<button ion-button icon-only class="ios__messages__send-message" (click)="toggleRecording()"
		*ngIf="showRecordIcon() && !isRecordingUIVisible()">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>

	<!-- TODO: refactor this to be one form, not two -->
	<div class="messages__form" *ngIf="!platform.is('ios')" #footer>
		<div
			class="messages__form__button-wrap"
			*ngIf="isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="discardRecording()">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button ion-button icon-only clear color="danger" class="messages__add-assets" (click)="toggleRecording()">
				<ion-icon name="mic" *ngIf="isPaused()"></ion-icon>
				<ion-icon name="pause" *ngIf="!isPaused()"></ion-icon>
			</button>
			<button *ngIf="isPaused()" ion-button icon-only clear color="grey" class="messages__add-assets" (click)="togglePlayback()">
				<ion-icon name="{{(isPlayback() ? 'pause' : 'play')}}"></ion-icon>
			</button>
		</div>
		<div
			class="messages__form__button-wrap"
			*ngIf="!isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="takeImage()" *ngIf="showCameraShortcut()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="messages__input-wrap">
			<ion-textarea rows="1" type="text" class="messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText" [disabled]="isRecordingUIVisible()" (blur)="toggleInputFocus()" (focus)="toggleInputFocus()"></ion-textarea>
		</ion-item>
		<div class="ios__messages__recording-overlay" [ngClass]="{'ios__messages__recording-overlay--distance': isPaused()}">
			<span *ngIf="isRecording()">
				<ion-icon name="mic" color="danger"></ion-icon>
				<span>&nbsp;Recording - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
			<span *ngIf="isPaused()">
				<span *ngIf="isPlayback()">
					<ion-icon icon name="ios-barcode-outline" color="primary"></ion-icon>
					<span>&nbsp;{{ formatTime(getPosition()) }} / {{ formatTime(getDuration()) }}</span>
				</span>
				<span *ngIf="!isPlayback()">Paused - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
		</div>
		<button
			ion-button icon-only clear (click)="sendMessageToChat()"
			class="messages__send-message"
			*ngIf="!showRecordIcon() || isRecordingUIVisible()">
			<ion-icon name="send"></ion-icon>
		</button>
		<button ion-button icon-only clear class="messages__send-message" (click)="toggleRecording()"
		*ngIf="showRecordIcon() && !isRecordingUIVisible()">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>
</ion-content>
