<div class="message__file__info message__voicemail__info">
	<div class="message__voicemail__actions">
		<ion-icon name="md-download" class="message__voicemail__action" *ngIf="!isLoaded() && !isLoading() && message.hasBeenSent()" (click)="loadAndPlay()"></ion-icon>
		<ion-icon name="md-play" class="message__voicemail__action" *ngIf="isLoaded() && !isPlaying() && message.hasBeenSent()" (click)="play()"></ion-icon>
		<loading-progress *ngIf="isLoading()"
			backgroundClass="messages__message"
			foregroundClass="progressIndicator"
			[progress]="getProgress"
		>
		</loading-progress>
		<ion-spinner *ngIf="!message.hasBeenSent()" class="message__voicemail__uploadSpinner"></ion-spinner>
		<ion-icon name="md-pause" class="message__voicemail__action" *ngIf="isLoaded() && isPlaying()" (click)="pause()"></ion-icon>
	</div>
	<div class="message__voicemail__player">
		<ion-icon icon name="stats" class="message__file__memo-play-icon" [ngClass]="{'message__file__memo-play-icon--active': isPlaying()}"></ion-icon>&nbsp;
		<span><span class="position"></span> / {{ formatPosition(getDuration()) }}&nbsp;</span>
		<span *ngIf="!isLoaded()" class="message__file__info__size">[{{formatSize(getSize())}}]</span>
		<div class="message__file__progress" *ngIf="isLoaded()">
			<div class="message__file__progress__bar"></div>
			<div class="message__file__progress__icon">
				<hexagon class="message__file__progress__icon__hex"></hexagon>
			</div>
		</div>
	</div>
</div>
