<ion-header>

	<ion-navbar [color]="'primary'" no-border>
		<ion-title>Details</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-spinner *ngIf="loading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<ion-list *ngIf="!loading">

		<ion-list-header padding-top>
			Conversation Title
		</ion-list-header>

		<ion-item class="no--padding--right">
			<ion-input type="text" placeholder="Chat Title" *ngIf="featureEnabled('chat.changeTitle') && amIAdmin()" [(ngModel)]="title"></ion-input>
			<button ion-button item-end class="full--height" *ngIf="featureEnabled('chat.changeTitle') && amIAdmin()" [disabled]="saving" (click)="setTitle(title)">Change</button>
			<div *ngIf="!featureEnabled('chat.changeTitle') || !amIAdmin()">
				{{ title }}
			</div>
		</ion-item>

		<ion-list-header padding-top>
			All Members
		</ion-list-header>

		<ion-item-sliding #item *ngFor="let receiver of getReceivers();">

			<ion-item tappable (click)="goToUser(receiver.id)">
				<ion-avatar class="hexagon--border" item-left>
					<user-image [id]="receiver.id" [image]="receiver.basic.image"></user-image>
				</ion-avatar>
				<span>
					<h2>
						{{ receiver.name }}
					</h2>
					<small *ngIf="isAdmin(receiver.user)">
						Administrator
					</small>
					<small *ngIf="!isAdmin(receiver.user)">
						Member
					</small>
				</span>
			</ion-item>
			<ion-item-options side="left" *ngIf="featureEnabled('chat.promoteReceiver') && !isAdmin(receiver.user) && amIAdmin()">
				<button ion-button color="primary" [disabled]="saving" (click)="promote(receiver.user)">Promote</button>
			</ion-item-options>

			<ion-item-options side="right" *ngIf="featureEnabled('chat.removeReceiver') && !isAdmin(receiver.user) && amIAdmin()">
				<button ion-button color="danger" [disabled]="saving" (click)="remove(receiver.user)">Remove</button>
			</ion-item-options>
		</ion-item-sliding>

		<ion-item detail-push tappable (click)="addContact()" *ngIf="featureEnabled('chat.addReceiver') && amIAdmin()">
			Add more contacts...
		</ion-item>
	</ion-list>

	<button *ngIf="!loading" ion-button full color="danger" (click)="report()">{{ 'topic.detail.reportTopic' | translate }}</button>

	<div text-center *ngIf="!loading"></div>

</ion-content>
