// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$fab-size: 76px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$kelly_green: #5ab70d;
$napier_green: #3a8100;
$tea_green: #cde9B6;

$prussian_blue: #003b4c;
$prussian_blue_highlight: #124958;
$dark_cerulean: #1b5c6d;

$red: #fe2824;
$deep_coffee: #673c41;

$white: #fff;
$davys_grey: #545b5e;
$grey: #788286;
$ghost_white: #f9f9fa;
$border_grey: #d5d8da;
$dark_grey: #a0a7aa;
$isabelline: #ebeced;

$champagne: #ffeda5;

$colors_private: (
	primary: $kelly_green,
	primaryDarker: $napier_green,
	primary_faded: $tea_green,

	green: $kelly_green,
	greenDarker: $napier_green,

	secondary: $prussian_blue_highlight,
	danger: $red,

	light: $white,
	dark: $davys_grey,
	grey: $grey,
	light_grey: $ghost_white,
	other_grey: $isabelline,
	dark_grey: $dark_grey,
	border_grey: $border_grey,
	highlight: $champagne,
	blue: $prussian_blue
);

$colors_business: (
	primary: $prussian_blue,
	primaryDarker: $napier_green,
	primary_faded: $border_grey,

	green: $kelly_green,
	greenDarker: $napier_green,

	secondary: $prussian_blue_highlight,
	danger: $red,

	light: $white,
	dark: $davys_grey,
	grey: $grey,
	light_grey: $ghost_white,
	other_grey: $isabelline,
	dark_grey: $dark_grey,
	highlight: $champagne,
);

$colors: $colors_private;

$login-background: $white;
$login-paragraph-color: $grey;
$login-input-background: $isabelline;
$login-input-background-focused: $border_grey;
$login-input-error: $red;
$login-input-placeholder-color: $dark_grey;
$login-input-color: $davys_grey;
$login-business-switch-highlight-color: $prussian_blue;

$message-bubble-color: map-get($colors, primary);

$svg-fill-primary: map-get($colors, primary);
$svg-fill-primaryDark: map-get($colors, primaryDarker);
$svg-fill-grey: map-get($colors, grey);

$list-text-color: map-get($colors, dark);
$list-border-color: map-get($colors, other_grey);

$list-ios-activated-background-color: $isabelline;

$item-ios-detail-push-color: map-get($colors, dark_grey);
$item-ios-divider-text-color: map-get($colors, dark);
$item-ios-divider-background: map-get($colors, other_grey);
$item-md-divider-background: map-get($colors, other_grey);
$item-wp-divider-background: map-get($colors, other_grey);

$alert-ios-message-text-color: map-get($colors, dark);

$action-sheet-ios-button-text-color: map-get($colors, primaryDarker);

$toggle-ios-background-color-on: $kelly_green;

// this would use the list border color but that is way to light
$toggle-ios-border-color-off: grayscale(lighten($border_grey, 11%));

$searchbar-ios-input-placeholder-color: map-get($colors, other_grey);
$searchbar-ios-input-search-icon-color: map-get($colors, other_grey);
$searchbar-ios-input-clear-icon-color: map-get($colors, other_grey);
$searchbar-ios-input-text-color: map-get($colors, light);
$searchbar-toolbar-ios-background-color: #3f9908;

@if $business == 1 {
	$colors: $colors_business;

	$login-background: map-get($colors, primary);
	$login-paragraph-color: $white;
	$login-input-background: $prussian_blue_highlight;
	$login-input-background-focused: $dark_cerulean;
	$login-input-error: $deep_coffee;
	$login-input-placeholder-color: $grey;
	$login-input-color: $white;
	$login-business-switch-highlight-color: $isabelline;

	$message-bubble-color: map-get($colors, grey);

	$svg-fill-primary: map-get($colors, primary);
	$svg-fill-primaryDark: map-get($colors, primary);

	$list-text-color: map-get($colors, dark);
	$list-border-color: map-get($colors, other_grey);

	$action-sheet-ios-button-text-color: map-get($colors, primary);

	$searchbar-toolbar-ios-background-color: #002937;
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "node_modules/mathsass/dist/math";
