// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$fab-size: 76px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors_private: (
	primary: #5ab70d,
	primaryDarker: #3a8100,
	secondary: #013c4c,
	danger: #f53d3d,
	light: #fff,
	dark: #545b5e,
	grey: #788286,
	light_grey: #f9f9f9,
	other_grey: #e5e5e5,
	blue_grey: #d8dfe2,
	more_grey: #efeff4,
	highlight: #ffeda5,
	green: #5ab70d,
	greenDarker: #3a8100,
);

$colors_business: (
	primary: #013c4c,
	primaryDarker: #3a8100,
	secondary: #013c4c,
	danger: #f53d3d,
	light: #fff,
	dark: #545b5e,
	grey: #788286,
	light_grey: #f9f9f9,
	other_grey: #e5e5e5,
	blue_grey: #d8dfe2,
	more_grey: #efeff4,
	highlight: #ffeda5,
	green: #5ab70d,
	greenDarker: #3a8100,
);

$colors: $colors_private;

$login-background: #fff;
$login-input-color: #b6bbbd;

$message-bubble-color: map-get($colors, primary);

$svg-fill-primary: map-get($colors, primary);
$svg-fill-primaryDark: map-get($colors, primaryDarker);
$svg-fill-grey: map-get($colors, grey);

$list-text-color: map-get($colors, dark);
$list-border-color: map-get($colors, other_grey);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$list-ios-activated-background-color: #efeff4;
$alert-ios-message-text-color: map-get($colors, dark);

$action-sheet-ios-button-text-color: map-get($colors, primaryDarker);

@if $business == 1 {
	$colors: $colors_business;

	$login-background: map-get($colors, primary);
	$login-input-color: #ebe9ec;

	$message-bubble-color: map-get($colors, grey);

	$svg-fill-primary: map-get($colors, primary);
	$svg-fill-primaryDark: map-get($colors, primary);
	$svg-fill-grey: map-get($colors, grey);

	$list-text-color: map-get($colors, dark);
	$list-border-color: map-get($colors, other_grey);

	// App iOS Variables
	// --------------------------------------------------
	// iOS only Sass variables can go here

	$list-ios-activated-background-color: #efeff4;
	$alert-ios-message-text-color: map-get($colors, dark);

	$action-sheet-ios-button-text-color: map-get($colors, primary);
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "node_modules/mathsass/dist/math";
