// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-fab[fixed] {
	position: fixed;
}

.hexagon {
	display: inline-block;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

	background: map-get($colors, primary);
	padding: 2px;
}

.hexagon__button {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	border-radius: 0 !important;

	width: 70px !important;
	height: 80px !important;

	color: map-get($colors, grey);

	.fab-close-icon {
		line-height: 80px !important;
	}

	.button-effect {
		display: none !important;
	}
}

.hexagon__button--medium {
	width: 50px !important;
	height: 57px !important;
}

.hexagon--fab {
	padding: 4px;
	.hexagon__button {
		width: 66px !important;
		height: 77px !important;
	}

	.fab-close-icon {
		line-height: 77px !important;
	}
}

.clean-input-wrap {
	.item-inner {
		box-shadow: none !important;
		border: none !important;
	}
}

.hexagon__image {
	position: relative;

	// reset ionic defaults
	min-width: 0 !important;
	min-height: 0 !important;

	width: 54px !important;
	height: 62px !important;

	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

	background: map-get($colors, grey);
}

.hexagon__image__image {
	position: absolute;
	top: 2px; left: 2px;

	height: calc(100% - 4px) !important;
	width: calc(100% - 4px) !important;

	background-size: cover;
	background-position: center center;

	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	border-radius: 0 !important;
}

.hexagon__image--active {
	background: map-get($colors, primary);
}

.hexagon__image--large {
	width: 152px !important;
	height: 175px !important;

	.hexagon__image__image {
		top: 3px; left: 3px;

		height: calc(100% - 6px) !important;
		width: calc(100% - 6px) !important;
	}
}

.hexagon__image--medium {
	width: 27px !important;
	height: 31px !important;
}

.hexagon__image--small {
    width: 24px !important;
    height: 26px !important;

    .hexagon__image__image {
		top: 1px; left: 1px;

		height: calc(100% - 2px) !important;
		width: calc(100% - 2px) !important;
    }
}

.toolbar-content {
	display: flex;
	align-items: center;
}

.text-primary {
	color: map-get($colors, primary);
}

.text-grey {
	color: map-get($colors, grey);
}

.text-medium {
	font-weight: 400;
}

.space-for-fab {
	margin-bottom: 95px;
}

.spinner--full {
	width: 100%;
}

.md .spinner--full circle {
	stroke: map-get($colors, primary);
}