<ion-header>
	<ion-navbar [color]="'primary'" no-border *ngIf="partners.length == 1">
		<ion-avatar item-left class="messages__header-image hexagon__image hexagon__image--small">
			<div class="hexagon__image__image" [style.background-image]="partners[0].basic.image | safeUrl"></div>
		</ion-avatar>
		<ion-title>
			<span (click)="goToProfile(partners[0].id)">{{ partners[0].name }}</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content fullscreen>
	<ion-spinner *ngIf="messagesLoading" text-center margin class="spinner--full"></ion-spinner>
	<ion-list no-lines>
		<ion-item class="messages__burst" *ngFor="let burst of messageBursts()" [ngClass]="{'burst--me': burst.isMe(), 'burst--other': burst.isOther()}">
			<div *ngFor="let message of burst.items" attr.data-messageid="{{message.data.id}}" class="messages__message" [ngClass]="{'messages__message--emoji-only': message.data.emojiOnly}">
				{{ message.data.text }}
				<!-- {{message.data.images}} -->
				<span>{{ message.data.timestamp }}</span>
			</div>
		</ion-item>
	</ion-list>
	<div class="messages__form" ion-fixed>
		<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="presentActionSheet()">
			<ion-icon name="add-circle"></ion-icon>
		</button>
		<ion-item class="clean-input-wrap messages__input-wrap">
			<ion-textarea rows="1" type="text" class="messages__message-input"></ion-textarea>
		</ion-item>
		<button ion-button icon-only clear class="messages__send-message">
			<ion-icon name="arrow-dropup-circle"></ion-icon>
		</button>
	</div>
</ion-content>
