<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title (click)="goToDetails()">

			<!-- Actual navbar title -->
			<span class="messages__header__username" [ngClass]="{'messages__header__username--no-image': getPartners().length > 1}">
				<span *ngIf="!chat || !chat.getTitle()">
					<span *ngIf="getPartners().length == 1" (click)="goToProfile(getPartners()[0].id)">
						{{ getPartners()[0].name }}
					</span>
					<span *ngIf="getPartners().length != 1">
						<span *ngFor="let partner of getPartners(); let l = last" (click)="goToProfile(partner.id)">
							{{ partner.basic.shortname }}{{ l ? "":", " }}
						</span>
					</span>
				</span>
				<span *ngIf="chat && chat.getTitle()">
					{{chat.getTitle()}}
				</span>
			</span>

			<!-- Avatar for one user -->
			<ion-avatar item-left class="messages__header-image hexagon__image hexagon__image--small" *ngIf="getPartners().length == 1" (click)="goToProfile(getPartners()[0].id)">
				<user-image [id]="getPartners()[0].id" [image]="getPartners()[0].basic.image"></user-image>
			</ion-avatar>

		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="messages__list" #content>
		<ion-spinner *ngIf="messagesLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
		<div class="messages_filler"></div>
		<ion-list no-lines>
			<ion-item class="messages__burst" *ngIf="getMessages().length === 0">
				<BurstDifference [chat]="chat"></BurstDifference>
			</ion-item>
			<ion-item
				class="messages__burst" *ngFor="let message of getMessages(); let $index=index; let $last=last"
				[ngClass]="getMessageItemClass(message, $index)"
			>
				<BurstDifference [chat]="chat" [message]="message" [previousMessage]="this.messages[$index - 1]" *ngIf="!sameBurst(message, this.messages[$index - 1])"></BurstDifference>

				<div *ngIf="isPreviousMissing(message)" style="
					display: flex;
					justify-content: center;
					align-items: center;
				">
					<ion-spinner text-center name="dots" duration="1500"></ion-spinner>
				</div>

				<div *ngIf="!message.isOwn() && getPartners().length > 1 && !sameBurst(message, this.messages[$index - 1])">{{message.data.sender.name}}</div>
				<Message [message]="message"></Message>

				<BurstDifference [chat]="chat" [previousMessage]="message" [noDates]="true" *ngIf="$last"></BurstDifference>
			</ion-item>
		</ion-list>
	</div>

	<div class="messages__form" *ngIf="platform.is('ios')" #footer>
		<div *ngIf="isRecordingUIVisible()" class="messages__form__button-wrap">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="discardRecording()">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button ion-button icon-only clear color="danger" class="ios__messages__add-assets" (click)="toggleRecording()">
				<ion-icon name="mic" *ngIf="isPaused()"></ion-icon>
				<ion-icon name="pause" *ngIf="!isPaused()"></ion-icon>
			</button>
			<button *ngIf="isPaused()" ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="togglePlayback()">
				<ion-icon name="{{(isPlayback() ? 'pause' : 'play')}}"></ion-icon>
			</button>
		</div>
		<div
			class="messages__form__button-wrap"
			*ngIf="!isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="takeImage()" *ngIf="showCameraShortcut()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="clean-input-wrap ios__messages__input-wrap">
			<ion-textarea rows="1" type="text" class="ios__messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText" [disabled]="isRecordingUIVisible()" (ionBlur)="toggleInputFocus()" (ionFocus)="toggleInputFocus()"></ion-textarea>
		</ion-item>
		<div class="ios__messages__recording-overlay" [ngClass]="{'ios__messages__recording-overlay--distance': isPaused()}">
			<span *ngIf="isRecording()">
				<ion-icon name="mic" color="danger"></ion-icon>
				<span>&nbsp;Recording - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
			<span *ngIf="isPaused()">
				<span *ngIf="isPlayback()">
					<ion-icon icon name="ios-stats" color="primary"></ion-icon>
					<span>&nbsp;{{ formatTime(getPosition()) }} / {{ formatTime(getDuration()) }}</span>
				</span>
				<span *ngIf="!isPlayback()">Paused - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
		</div>
		<button color="green" ion-button icon-only class="ios__messages__send-message" (click)="sendMessageToChat()"
		*ngIf="!showRecordIcon() || isRecordingUIVisible()">
			<ion-icon name="send"></ion-icon>
		</button>
		<button color="green" ion-button icon-only class="ios__messages__send-message" (click)="toggleRecording()"
		*ngIf="showRecordIcon() && !isRecordingUIVisible()">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>

	<!-- TODO: refactor this to be one form, not two -->
	<div class="messages__form" *ngIf="!platform.is('ios')" #footer>
		<div
			class="messages__form__button-wrap"
			*ngIf="isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="discardRecording()">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button ion-button icon-only clear color="danger" class="messages__add-assets" (click)="toggleRecording()">
				<ion-icon name="mic" *ngIf="isPaused()"></ion-icon>
				<ion-icon name="pause" *ngIf="!isPaused()"></ion-icon>
			</button>
			<button *ngIf="isPaused()" ion-button icon-only clear color="grey" class="messages__add-assets" (click)="togglePlayback()">
				<ion-icon name="{{(isPlayback() ? 'pause' : 'play')}}"></ion-icon>
			</button>
		</div>
		<div
			class="messages__form__button-wrap"
			*ngIf="!isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="takeImage()" *ngIf="showCameraShortcut()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="messages__input-wrap">
			<ion-textarea rows="1" type="text" class="messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText" [disabled]="isRecordingUIVisible()" (ionBlur)="toggleInputFocus()" (ionFocus)="toggleInputFocus()"></ion-textarea>
		</ion-item>
		<div class="ios__messages__recording-overlay" [ngClass]="{'ios__messages__recording-overlay--distance': isPaused()}">
			<span *ngIf="isRecording()">
				<ion-icon name="mic" color="danger"></ion-icon>
				<span>&nbsp;Recording - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
			<span *ngIf="isPaused()">
				<span *ngIf="isPlayback()">
					<ion-icon icon name="ios-stats" color="primary"></ion-icon>
					<span>&nbsp;{{ formatTime(getPosition()) }} / {{ formatTime(getDuration()) }}</span>
				</span>
				<span *ngIf="!isPlayback()">Paused - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
		</div>
		<button
			ion-button icon-only clear (click)="sendMessageToChat()"
			class="messages__send-message"
			*ngIf="!showRecordIcon() || isRecordingUIVisible()">
			<ion-icon name="send"></ion-icon>
		</button>
		<button ion-button icon-only clear class="messages__send-message" (click)="toggleRecording()"
		*ngIf="showRecordIcon() && !isRecordingUIVisible()">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>
</ion-content>
