topicWithBursts {
	background: white;
	height: 100%;

	ion-spinner {
		flex-shrink: 0;
	}

	.fixed-content {
		display: none;
	}

	.scroll-content {
		overflow: hidden;
		display: flex;

		flex-direction: column;
		padding: 0;
	}

	.messages__list {
		flex: 1;
		overflow-x: hidden;
		overflow-y: scroll;

		display: flex;
		flex-direction: column;

		// ios scrolling
		-webkit-overflow-scrolling: touch;

		will-change: scroll-position;
		contain: size style layout;
	}

	.messages__list > .list {
		// ios margin bottom
		margin-bottom: 0 !important;
	}

	.messages_filler {
		flex: 1 0 auto;
	}

	.burst-seperator-date {
		color: #a0a7aa;
		margin-bottom: 22px;
	}

	.burst-seperator-update {
		color: #788286;
	}

	.burst-seperator {
		text-align: center;

		.burst-seperator-text {
			display: inline-block;
			position: relative;
			white-space: normal;
			font-size: 0.85em;

			&:before,
			&:after {
				content: "";
				position: absolute;
				height: 1.5px;
				background-color: #ebeced;
				top: 50%;
				transform: translateY(-50%);
				width: 5000px;
			}

			&:before {
				right: 100%;
				margin-right: 5px;
			}

			&:after {
				left: 100%;
				margin-left: 5px;
			}
		}
	}
}

.md {
	.messages__header__fake-back {
		position: absolute;
		left: 3px;
		top: 50%;
		margin-top: -17.5px;
	}
	.messages__header-image {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	.messages__header__username {
		padding-left: 24px;
	}
	.messages__header__username--no-image {
		padding-left: 0;
	}

	.title--force-back {
		.messages__header-image {
			left: 37px;
		}
		.messages__header__username {
			padding-left: 57px;
		}
	}
}

.ios {
	.messages__header__fake-back {
		position: absolute;
		left: 0.5em;
		top: 50%;
		margin-top: -17.5px;
	}
	.messages__header-image {
		position: absolute;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);
	}
}
.messages__message {
	position: relative;
	padding: 5px 20px;
	border-radius: 20px;

	box-sizing: border-box;

	max-width: 75%;
	word-wrap: break-word;
	white-space: normal;
}

.md .messages__message {
	border-radius: 5px;
}

.messages__burst {
	width: 100vw;

	.label {
		display: flex;
		flex-direction: column;
	}
}

.messages__wrap {
	display: flex;
	align-content: center;
	justify-content: center;
}

.messages__time {
	flex-shrink: 0;
	flex-grow: 0;

	margin: auto;

	color: #bfc3c5;
	font-size: 0.85em;
}

.burst--me {
	a {
		color: white;
	}

	.messages__time {
		order: 1;
		margin: auto 0 auto auto;
	}

	.messages__message {
		margin: auto 5px 1px 10px;
		order: 2;

		background: $message-bubble-color;
		color: #fff;
	}

	.messages__wrap:last-child {
		.messages__message {
			&:before {
				content: "";
				position: absolute;
				z-index: 1;
				bottom: -2px;
				right: -7px;
				height: 20px;
				border-right: 20px solid $message-bubble-color;
				border-bottom-left-radius: 16px 14px;
				transform: translate(0, -2px);
			}

			&:after {
				content: "";
				position: absolute;
				z-index: 2;
				bottom: -2px;
				right: -56px;
				width: 26px;
				height: 20px;
				background: white;
				border-bottom-left-radius: 10px;
				transform: translate(-30px, -2px);
			}
		}
	}
}

.burst--other {
	.messages__message {
		background: map-get($colors, other_grey);
		color: map-get($colors, dark);

		margin: auto 10px 1px 5px;
	}
	.messages__time {
		margin: auto auto auto 0;
	}
	.messages__wrap:last-child {
		.messages__message {
			&:before {
				content:"";
				position: absolute;
				z-index: 2;
				bottom: -2px;
				left: -7px;
				height: 20px;
				border-left: 20px solid map-get($colors, other_grey);
				border-bottom-right-radius: 16px 14px;
				transform: translate(0, -2px);
			}

			&:after {
				content: "";
				position: absolute;
				z-index: 3;
				bottom: -2px;
				left: 4px;
				width: 26px;
				height: 20px;
				background: white;
				border-bottom-right-radius: 10px;
				transform:translate(-30px, -2px);
			}
		}
	}
}

.messages__message--emoji-only {
	background: transparent !important;
	&:before, &:after {
		content: none !important;
	}

	font-size: 2em;
	line-height: 1.1em;

	padding-left: 0;
	padding-right: 0;
}

.messages__form {
	position: relative;

	width: 100%;

	display: flex;

	align-items: center;

	padding: 5px 0;
}

.ios__messages__add-assets {
	margin: 0;
}

.ios__messages__input-wrap {
	height: auto;
	min-height: 30px !important;
}

.ios__messages__message-input {
	.text-input {
		border: 1px solid map-get($colors, other_grey);
		border-radius: 20px;
		padding: 4px 40px 4px 10px;

		margin: 0 !important;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.messages__message-input textarea {
	resize: none;
}

.ios__messages__send-message {
	position: absolute;
	right: 7px;
	bottom: 4px;

	margin: 0 !important;

	color: $kelly_green;
}

.messages__send-message {
	position: relative;
}
