<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>
			{{ 'chooseFriends.title' | translate }}
		</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar
			*ngIf="!contactsLoading"
			animated
			[placeholder]="'chooseFriends.search' | translate"
			[(ngModel)]="searchTerm"
			(ngModelChange)="executeSearch()" [showCancelButton]="true" [cancelButtonText]="'general.cancel' | translate">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-spinner *ngIf="contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-item-divider class="friends__divider" *ngIf="selectedUsers.length > 0">
		Selected Contacts
	</ion-item-divider>
	<ion-list [virtualScroll]="selectedUsers" class="friends__list">
		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact)>
			<ion-label>{{contact.name}}</ion-label>

			<div item-content class="checkbox checkbox-hexagon checkbox-hexagon--remove" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<p class="text-grey" padding-horizontal *ngIf="selectedUsers.length > 0">Above contacts will be added to the new conversation.<br>
	You can later manage all members and add more.</p>
	<ion-list [virtualScroll]="getUsers()" [headerFn]="contactDividers" class="friends__list space-for-fab">
		<ion-item-divider *virtualHeader="let header" class="friends__divider">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact)>
			<ion-label>{{contact.name}}</ion-label>
			<div item-content class="checkbox checkbox-hexagon" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<main-menu [icon]="'arrow'" (invoke)="create()"></main-menu>
</ion-content>
