<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>
			{{ 'chooseFriends.title' | translate }}
		</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar
			*ngIf="!contactsLoading"
			animated
			[placeholder]="'chooseFriends.search' | translate"
			[(ngModel)]="searchTerm"
			(ngModelChange)="executeSearch()" [showCancelButton]="true" [cancelButtonText]="'general.cancel' | translate">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-spinner *ngIf="contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-item-divider class="friends__divider friends__divider--first" *ngIf="selectedUsers.length > 0">
		{{ 'chooseFriends.selectedContacts' | translate }}
	</ion-item-divider>
	<ion-list [virtualScroll]="selectedUsers" class="friends__list">
		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact)>
			<ion-label class="checkbox__label--user checkbox__label--user-selected">
				<ion-avatar class="hexagon--border"
						[ngClass]="{'hexagon__image--active': contact.online}" item-left>
					<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
				</ion-avatar>
				<h2 class="checkbox__label__username">
					<strong *ngIf="contact.names.firstname">
						{{contact.names.firstname}}
					</strong>
					<span *ngIf="contact.names.firstname && contact.names.lastname">
						{{contact.names.lastname}}
					</span>
					<strong
						*ngIf="!contact.names.firstname && contact.names.lastname">
						{{contact.names.lastname}}
					</strong>
					<strong
						*ngIf="!contact.names.firstname && !contact.names.lastname">
						{{contact.name}}
					</strong>
				</h2>
			</ion-label>

			<div item-content class="checkbox checkbox-hexagon checkbox-hexagon--remove" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<p class="text-grey" padding-horizontal *ngIf="selectedUsers.length > 0" [innerHTML]="'chooseFriends.selectedExplain' | translate">
	</p>
	<ion-item-divider class="friends__divider" *ngIf="searchTerm.length > 0">
		{{ 'chooseFriends.search' | translate }}
	</ion-item-divider>
	<ion-list [virtualScroll]="getUsers()" [headerFn]="contactDividers" class="friends__list space-for-fab">
		<ion-item-divider *virtualHeader="let header; let i = index;" class="friends__divider" [ngClass]="{'friends__divider--first': i === 0 && selectedUsers.length === 0}">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact)>
			<ion-label class="checkbox__label--user">
				<ion-avatar class="hexagon--border"
						[ngClass]="{'hexagon__image--active': contact.online}" item-left>
					<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
				</ion-avatar>
				<h2>
					<strong *ngIf="contact.names.firstname">
						{{contact.names.firstname}}
					</strong>
					<span *ngIf="contact.names.firstname && contact.names.lastname">
						{{contact.names.lastname}}
					</span>
					<strong
						*ngIf="!contact.names.firstname && contact.names.lastname">
						{{contact.names.lastname}}
					</strong>
					<strong
						*ngIf="!contact.names.firstname && !contact.names.lastname">
						{{contact.name}}
					</strong>
				</h2>
			</ion-label>
			<div item-content class="checkbox checkbox-hexagon" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<div class="space-for-fab">
		<p class="text-grey not-found-footer" padding>
			<span *ngIf="searchTerm.length > 0">
				{{ 'contacts.searchResultExplain' | translate }}
			</span>
		</p>
	</div>

	<navigator [icon]="'arrow'" (invoke)="create()" ion-fixed></navigator>
</ion-content>
