<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>
			{{ 'chooseFriends.title' | translate }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar
		*ngIf="!contactsLoading"
		animated
		[placeholder]="'chooseFriends.search' | translate"
		[(ngModel)]="searchTerm"
		(ngModelChange)="executeSearch()"
	></ion-searchbar>
	<ion-spinner *ngIf="contactsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-list [virtualScroll]="getContactsWithSelected()" [headerFn]="contactDividersWithSelected" class="friends__list space-for-fab">
		<ion-item-divider *virtualHeader="let header" class="friends__divider">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact">
			<ion-label>{{contact.name}}</ion-label>
			<ion-checkbox checked="false" clear item-right [(ngModel)]="selectedUserMap[contact.id]" (ngModelChange)="updateSelectedUsers(contact)"></ion-checkbox>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<main-menu [icon]="'arrow-forward'" (mainHandle)="create()" ion-fixed></main-menu>
</ion-content>
