<ion-header>
	<ion-navbar [color]="'primary'" no-border>
		<ion-title [ngClass]="{'title--force-back': forceBackButton}" (click)="goToDetails()">

			<!-- Back button -->
			<div class="messages__header__fake-back">
				<button *ngIf="forceBackButton" (click)="navCtrl.pop()" class="bar-button bar-button-ios" color="light" ion-button icon-only clear>
					<ion-icon name="arrow-back"></ion-icon>
				</button>
			</div>

			<!-- Actual navbar title -->
			<span class="messages__header__username" [ngClass]="{'messages__header__username--no-image': partners.length > 1}">
				<span *ngIf="!chat || !chat.getTitle()">
					<span *ngIf="partners.length == 1" (click)="goToProfile(partners[0].id)">
						{{ partners[0].name }}
					</span>
					<span *ngIf="partners.length != 1">
						<span *ngFor="let partner of partners; let l = last" (click)="goToProfile(partner.id)">
							{{ partner.basic.shortname }}{{ l ? "":", " }}
						</span>
					</span>
				</span>
				<span *ngIf="chat && chat.getTitle()">
					{{chat.getTitle()}}
				</span>
			</span>

			<!-- Avatar for one user -->
			<ion-avatar item-left class="messages__header-image hexagon__image hexagon__image--small" *ngIf="partners.length == 1" (click)="goToProfile(partners[0].id)">
				<user-image [id]="partners[0].id" [image]="partners[0].basic.image"></user-image>
			</ion-avatar>

		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="messages__list" #content>
		<ion-spinner *ngIf="messagesLoading" text-center margin-vertical class="spinner--full"></ion-spinner>
		<div class="messages_filler"></div>
		<ion-list no-lines>
			<ion-item class="messages__burst" *ngIf="messageBursts() && bursts.length === 0">
				<BurstDifference [chat]="chat" [burst]="bursts[0]"></BurstDifference>
			</ion-item>
			<ion-item class="messages__burst" *ngFor="let burst of bursts; let $index=index; let $last=last" [ngClass]="{'burst--me': burst.isMe(), 'burst--other': burst.isOther()}">
				<BurstDifference [chat]="chat" [burst]="burst" [previousBurst]="bursts[$index - 1]"></BurstDifference>

				<span *ngIf="burst.isMessageBurst()">
					<div *ngIf="burst.isOther() && partners.length > 1">{{burst.firstItem().data.sender.name}}</div>
					<ng-template ngFor let-message [ngForOf]="burst.items">
						<div attr.data-messageid="{{message.data.id}}" class="messages__wrap" *ngIf="message.data.text.length > 0 || message.data.images.length > 0">
							<div class="messages__message" [ngClass]="{'messages__message--emoji-only': message.data.emojiOnly}">
								<span whispeerSyntaxify content="{{message.data.text}}"></span>
								<gallery *ngIf="message.data.images && message.data.images.length > 0" [images]="message.data.images"></gallery>
							</div>
							<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
						</div>
						<div *ngFor="let file of message.data.files" class="messages__wrap messages__wrap--file">
							<div class="messages__message message__file">
								<div class="message__file__hexagon-wrap">
									<hexagon class="message__file__hexagon"></hexagon>
									<!-- TODO: icon states.
										maybe we should use different svgs with
										icons built in them... -->
									<ion-icon name="md-download" class="message__file__hexagon-icon"></ion-icon>
								</div>
								<span class="message__file__info">
									<span class="message__file__name">{{file.name}}</span>
									<span class="message__file__size">[{{formatSize(file.size)}}]</span>
								</span>
							</div>
							<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
						</div>
						<div *ngFor="let voicemail of message.data.voicemails" class="messages__wrap messages__wrap--file">
							<div class="messages__message message__file">
								<div class="message__file__hexagon-wrap">
									<hexagon class="message__file__hexagon"></hexagon>
									<!-- TODO: icon states.
										maybe we should use different svgs with
										icons built in them... -->
									<ion-icon name="md-download" class="message__file__hexagon-icon"></ion-icon>
								</div>
								<span class="message__file__info">
									<span class="message__file__name">{{voicemail.name}}</span>
									<span class="message__file__size">[{{formatSize(voicemail.size)}}]</span>
								</span>
							</div>
							<span class="messages__time">{{ message.data.date | date: "shortTime" }}</span>
						</div>
				</ng-template>
				</span>
				<div class="messages_message" *ngIf="burst.isChatUpdate()">
					<div class="burst-seperator burst-seperator-update">
						<span class="burst-seperator-text">
							{{ burst.firstItem().state.sender.data.name }} {{ 'topic.changed' | translate }} "<strong>{{ burst.firstItem().state.title }}</strong>"
						</span>
					</div>
				</div>

				<BurstDifference [chat]="chat" [previousBurst]="burst" [noDates]="true" *ngIf="$last"></BurstDifference>
			</ion-item>
		</ion-list>
	</div>

	<div class="messages__form" *ngIf="platform.is('ios')" #footer>
		<div
			class="messages__form__button-wrap"
			*ngIf="isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="discardRecording()">
				<ion-icon name="trash"></ion-icon>
			</button>
			<button ion-button icon-only clear color="danger" class="ios__messages__add-assets" (click)="toggleRecording()">
				<ion-icon name="mic" *ngIf="isPaused()"></ion-icon>
				<ion-icon name="pause" *ngIf="!isPaused()"></ion-icon>
			</button>
			<button *ngIf="isPaused()" ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="togglePlayback()">
				<ion-icon name="{{(isPlayback() ? 'pause' : 'play')}}"></ion-icon>
			</button>
		</div>
		<div
			class="messages__form__button-wrap"
			*ngIf="!isRecordingUIVisible()">
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="ios__messages__add-assets" (click)="takeImage()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="clean-input-wrap ios__messages__input-wrap">
			<ion-textarea rows="1" type="text" class="ios__messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText" [disabled]="isRecordingUIVisible()"></ion-textarea>
		</ion-item>
		<div class="ios__messages__recording-overlay" [ngClass]="{'ios__messages__recording-overlay--distance': isPaused()}">
			<span *ngIf="isRecording()">
				<ion-icon name="mic" color="danger"></ion-icon>
				<span>&nbsp;Recording - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
			<span *ngIf="isPaused()">
				<span *ngIf="isPlayback()">
					<ion-icon icon name="ios-barcode-outline" color="primary"></ion-icon>
					<span>&nbsp;{{ formatTime(getPosition()) }} / {{ formatTime(getDuration()) }}</span>
				</span>
				<span *ngIf="!isPlayback()">Paused - <time class="ios__messages__recording__time">{{ formatTime(getDuration()) }}</time></span>
			</span>
		</div>
		<button ion-button icon-only class="ios__messages__send-message" (click)="sendMessageToChat()"
		*ngIf="newMessageText.length > 0 || isRecordingUIVisible()">
			<ion-icon name="md-arrow-round-up"></ion-icon>
		</button>
		<button ion-button icon-only class="ios__messages__send-message" (click)="toggleRecording()"
		*ngIf="newMessageText.length === 0 && !isRecordingUIVisible()">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>

	<div class="messages__form" *ngIf="!platform.is('ios')" #footer>
		<div
			class="messages__form__button-wrap"
			*ngIf="!recording">
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="presentActionSheet()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only clear color="grey" class="messages__add-assets" (click)="takeImage()">
				<ion-icon name="camera"></ion-icon>
			</button>
		</div>
		<ion-item class="messages__input-wrap">
			<ion-textarea rows="1" type="text" class="messages__message-input" autocomplete="on" autocorrect="on" id="sendMessageBox" (ngModelChange)="change()" [(ngModel)]="newMessageText"></ion-textarea>
		</ion-item>
		<button
			ion-button icon-only clear (click)="sendMessageToChat()"
			class="messages__send-message"
			*ngIf="newMessageText.length > 0 || recording">
			<ion-icon name="send"></ion-icon>
		</button>
		<button
			ion-button icon-only clear (click)="startRecording()"
			class="messages__send-message"
			*ngIf="newMessageText.length === 0 && !recording">
			<ion-icon name="mic"></ion-icon>
		</button>
	</div>
</ion-content>
