gallery {
	$bubble-radius-ios: 13px;
	$bubble-radius-android: 3px;

	> div {
		position: relative;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
	}

	.image_loading {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: white;
		opacity: 0.7;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	> div, .image_loading {
		border-radius: $bubble-radius-ios;
		.md & { border-radius: $bubble-radius-android; } // .md seems to be an android hack.
	}
}
