<div>
	<ng-container *ngFor="let image of images">
		<div class="imageContainer" [ngClass]="{'loading': isLoading(image) }" *ngIf="image.lowest.url">
			<img class="post-image" *ngIf="!runGif($index)" [src]="image.lowest.url" (click)="displayImage(image)" />
			<span class="post-image--play fa fa-play fa-2x" *ngIf="image.lowest.gif && !runGif($index)"></span>
			<div *ngIf="runGif($index)">
				<img class="post-image" [src]="image.highest.url" *ngIf="!image.highest.loading" />
				<img class="post-image" [src]="image.lowest.url" *ngIf="image.highest.loading" />
			</div>
			<div *ngIf="isLoading(image)" class="overlay">
				<ion-spinner text-center name="ios-small"></ion-spinner>
			</div>
		</div>
	</ng-container>
</div>

<div *ngIf="images.length > preview">
	<button (click)="loadMoreImages()" ion-button block>Load more images</button>
</div>
