page-sales {
	display: flex;
	strong {
		font-weight: 500;
	}
}

.sales__content {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	color: $white;
	background-color: $prussian_blue;
	// background-color: $white;
}

.sales__logo-wrap {
	margin-top: 68px;

	text-align: center;

	width: 100%;
}

.sales__logo {
	width: 78%;
}

.sales__main {
	border-left: 4px solid $kelly_green;
	padding-bottom: 16px;
	margin-bottom: 30px;
}

.sales__main-title {
	padding-top: 10px;
	color: $kelly_green;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 20px;
}

.sales__main-text {
	margin-top: 13px;
	font-size: 19px;
	line-height: 1.1em;
	padding-left: 20px;
	padding-right: 20px;

	em {
		color: $kelly_green;
		font-style: normal;
	}
}

.sales__callToAction {
	margin-top: 43px;
	background-color: $prussian_blue_highlight;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
}

.sales__callToAction-text {
	font-size: 22px;
	color: $champagne;
}

.sales__callToAction-number {
	padding-top: 6px;
	text-align: center;
	font-size: 26px;

	a {
		color: $white;
	}
}

.sales__main-finePrint {
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	color: $grey;
}

.sales__private {
	margin-bottom: 30px;
	padding-left: 15px;
	font-size: 16px;
	color: $grey;
	width: 100%;
	position: relative;

	em {
		color: $isabelline;
		font-style: normal;
	}

	ion-icon {
		position: absolute;
		right: 15px;
	}
}
