<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>
			{{ 'topic.add.title' | translate }}
		</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar
			*ngIf="!contactsLoading && !loadingChat && !saving"
			animated
			[placeholder]="'chooseFriends.search' | translate"
			[(ngModel)]="searchTerm"
			(ngModelChange)="executeSearch()"
			[showCancelButton]="true"
			[cancelButtonText]="'general.cancel' | translate"
			(search)="closeSearchBar($event)"
		></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-spinner *ngIf="contactsLoading || loadingChat || saving" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-list *ngIf="selectedUsers.length > 0" class="friends__list">
		<ion-list-header class="friends__list__header" padding-top>
			{{ 'chooseFriends.selectedContacts' | translate }}
		</ion-list-header>
	</ion-list>
	<ion-list [virtualScroll]="getSelectedUsers()" class="friends__list">
		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact) approxItemHeight="'52'" [ngClass]="{'user__blocked': contact.user.isBlocked()}">
			<ion-label class="checkbox__label--user checkbox__label--user-selected">
				<ion-avatar class="hexagon--border"
						[ngClass]="{'hexagon__image--active': contact.online}" item-left>
					<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
				</ion-avatar>
				<h2 class="checkbox__label__username">
					<span *ngIf="!contact.user.isBlocked(); else blockedUser">
						<strong *ngIf="contact.names.firstname">
							{{contact.names.firstname}}
						</strong>
						<span *ngIf="contact.names.firstname && contact.names.lastname">
							{{contact.names.lastname}}
						</span>
						<strong
							*ngIf="!contact.names.firstname && contact.names.lastname">
							{{contact.names.lastname}}
						</strong>
						<strong
							*ngIf="!contact.names.firstname && !contact.names.lastname">
							{{contact.name}}
						</strong>
					</span>
					<ng-template #blockedUser>
						{{'blocked.userReplacement' | translate}} ({{contact.names.nickname}})
					</ng-template>
				</h2>
			</ion-label>

			<div item-content class="checkbox checkbox-hexagon checkbox-hexagon--remove" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<!-- This wrapping div is necessary because the Search-Titles paddng would lay under the header without it. Hence the ngIf has to stay on the paragraph. Please don't ask me why! -->
	<div>
		<p *ngIf="selectedUsers.length > 0" class="text-grey" padding-horizontal>
			{{ 'topic.add.selectedExplain' | translate }}
		</p>
	</div>
	<ion-list *ngIf="searchTerm.length > 0" class="friends__list">
		<ion-list-header class="friends__list__header" [attr.padding-top]="selectedUsers.length === 0 ? '': null">
			{{ 'chooseFriends.search' | translate }}
		</ion-list-header>
		<ion-item>
			<p class="text-grey">
				{{ 'chooseFriends.searchFor' | translate:{searchTerm: searchTerm} }}
			</p>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="!saving" [virtualScroll]="getFilteredUsers()" [headerFn]="contactDividers" class="friends__list space-for-fab">
		<ion-item-divider *virtualHeader="let header; let i = index;" class="friends__divider" [ngClass]="{'friends__divider--first': i === 0 && selectedUsers.length === 0}">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact) [ngClass]="{'user__blocked': contact.user.isBlocked()}">
			<ion-label class="checkbox__label--user">
				<ion-avatar class="hexagon--border"
						[ngClass]="{'hexagon__image--active': contact.online}" item-left>
					<user-image [id]="contact.id" [image]="contact.basic.image"></user-image>
				</ion-avatar>
				<h2>
					<span *ngIf="!contact.user.isBlocked(); else blockedUser">
						<strong *ngIf="contact.names.firstname">
							{{contact.names.firstname}}
						</strong>
						<span *ngIf="contact.names.firstname && contact.names.lastname">
							{{contact.names.lastname}}
						</span>
						<strong
							*ngIf="!contact.names.firstname && contact.names.lastname">
							{{contact.names.lastname}}
						</strong>
						<strong
							*ngIf="!contact.names.firstname && !contact.names.lastname">
							{{contact.name}}
						</strong>
					</span>
					<ng-template #blockedUser>
						{{'blocked.userReplacement' | translate}} ({{contact.names.nickname}})
					</ng-template>
				</h2>
			</ion-label>
			<div item-content class="checkbox checkbox-hexagon" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<navigator *ngIf="!saving && !loadingChat" [icon]="'arrow'" (invoke)="addReceivers()" ion-fixed></navigator>
</ion-content>
