<ion-header>
	<ion-navbar [color]="'primary'">
		<ion-title>
			{{ 'chooseFriends.title' | translate }}
		</ion-title>
	</ion-navbar>
	<ion-toolbar class="toolbar--search" [color]="'primary'">
		<ion-searchbar
			*ngIf="!contactsLoading && !loadingChat && !saving"
			animated
			[placeholder]="'chooseFriends.search' | translate"
			[(ngModel)]="searchTerm"
			(ngModelChange)="executeSearch()"
			[showCancelButton]="true"
		></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-spinner *ngIf="contactsLoading || loadingChat || saving" text-center margin-vertical class="spinner--full"></ion-spinner>
	<ion-list *ngIf="!saving" [virtualScroll]="getFilteredUsers()" [headerFn]="contactDividers" class="friends__list space-for-fab">
		<ion-item-divider *virtualHeader="let header" class="friends__divider">
			{{ header }}
		</ion-item-divider>

		<ion-item *virtualItem="let contact" (click)=updateSelectedUsers(contact)>
			<ion-label>{{contact.name}}</ion-label>
			<div item-content class="checkbox checkbox-hexagon" [class.checkbox-ios]="ios" [class.checkbox-md]="!ios">
				<div class="checkbox-icon" [class.checkbox-checked]="selectedUserMap[contact.id]"><div class="checkbox-inner"></div></div>
			</div>
		</ion-item>
	</ion-list>
	<ion-spinner *ngIf="searchResultsLoading" text-center margin-vertical class="spinner--full"></ion-spinner>

	<main-menu *ngIf="!saving && !loadingChat" [icon]="'arrow-forward'" (mainHandle)="addReceivers()" ion-fixed></main-menu>
</ion-content>
